<p>
  <a href="/organizations/create">create new</a>
</p>


Number of organizations: <%= @orgs.length %>


<ul>
<% @orgs.each do |org| %>
  <li><%= org.address %>  - created by: <%= org.user.nickname %> - <a href="/organizations/edit/<%= org.id %>">edit</a> </li>
<% end %>
</ul>